:host {
  padding: 10px;
}

.employee {
  margin-top: 5px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  padding: 15px;
}

.myform-card {
  width: 350px;
}

.action {
  width: 20px;
  height: 35px;
}

.form {
  display: flex;
  padding-top: 6px;
}